.info {
    max-width: 550px;
}
.prof{
    position:  absolute;
    top: 100px;
    right: 10px;
    height: 150px;
    width: 150px;
}
.prof-sm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    padding-top: 20px;
}

.shadow{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.77);
    position: sticky;
    width: 100%;
    background-color: white;
}
.links{
    width: 100%;
    background-color: #E9ECEF ;
}
.bcontent {
    margin-top: 10px;
}

.text-divider{
    margin: 1em 0; line-height: 0; text-align: center;
}
.text-divider span{
    padding: 10px;
    background-color: white;
}
.text-divider:before{
    content: " "; display: block; border-top: 1px solid #c8c8c8;
}

.text-divider-bold{
    margin: 1em 0; line-height: 0; text-align: center;
}
.text-divider-bold span{
    padding: 10px;
    background-color: white;
}
.text-divider-bold:before{
    content: " "; display: block; border-top: 3px solid #c8c8c8;
}


.about-img{
    float: left;
    width: 500px;  
    padding-left: 10%;
    padding-right: 20px;
    padding-bottom: 30px;
}
/* .about-txt{
    padding-top: 50px;
} */
.carousel{
    max-width:700px;
}